.navbar{
    background: #012a36;
}

.navbar p{
    color: #ffffff;
}
.navbar a{
    color: #ffffff;
}

.navbar a:hover {
	color: #fff;
}

.nav-a a{
    color: #012a36;
}

.navbar a:active {
    color: #3276cf;
  }

.navbar a:visited {
    color: #ffffff;
  }
  .nav-a a:visited {
    color: #000000;
  }