<div id="divWeatherMain"> 
    <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>  
    </div>   
    <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>  
    </div>   
    <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temp_celcius}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Min. {{WeatherData.temp_min}}°C  /  Máx. {{WeatherData.temp_max}}°C</div>
    <div class="weatherWidgetRow mt-1" style="font-size: 12px;">Sensación térmica: {{WeatherData.temp_feels_like}}°C</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.name}}</div>
    <div class="weatherWidgetRow pb-3" style="font-size: 12px;">Humedad: {{WeatherData.main.humidity}}%</div>
</div>