<form #registro_form="ngForm" class="register-form" action="#" method="post" role="form" style="display: none;">
  <div class="form-group">
    <label for="username">Ingrese su usuario</label>
    <input  #username="ngModel" [(ngModel)]="registro_data.username" type="text" name="username" id="username" tabindex="1" class="form-control" required placeholder="Usuario" value="">
    <p *ngIf="username.errors && username.errors.required && submitted" class="login-error-text text-danger"><i
      class="fa fa-exclamation-circle login-error-icon"></i> Este campo es obigatorio</p>
  </div>
  <div class="form-group">
    <label for="email">Ingrese su correo</label>
    <input #email="ngModel" [(ngModel)]="registro_data.email" type="email" name="email" id="email" tabindex="2" class="form-control" required placeholder="Email" value="">
    <p *ngIf="email.errors && email.errors.required && submitted" class="login-error-text text-danger"><i
      class="fa fa-exclamation-circle login-error-icon"></i> Este campo es obigatorio</p>
  </div>
  <div class="form-group">
    <label for="password">Ingrese su contraseña</label>
    <input #password="ngModel" [(ngModel)]="registro_data.password" type="password" name="password" id="password" tabindex="3" class="form-control" required placeholder="Contraseña">
    <p *ngIf="password.errors && password.errors.required && submitted" class="login-error-text text-danger"><i
      class="fa fa-exclamation-circle login-error-icon"></i> Este campo es obigatorio</p>
  </div>
  <div class="form-group">
    <label for="confirm'password">Confirmar contraseña</label>
    <input #confirmpassword="ngModel" [(ngModel)]="registro_data.confirmpassword" type="password" name="confirmpassword" id="confirmpassword" tabindex="4" required class="form-control"
      placeholder="Confirmar contraseña">
      <p *ngIf="confirmpassword.errors && confirmpassword.errors.required && submitted" class="login-error-text text-danger"><i
        class="fa fa-exclamation-circle login-error-icon"></i> Este campo es obigatorio</p>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 mx-auto mt-4">
        <button (click)="insert_user()" type="submit" name="register-submit" id="register-submit" tabindex="5"
          class="form-control btn btn-register" action="submit"> <span *ngIf="!loading">Crear cuenta</span> <span *ngIf="loading">Creando cuenta...</span> </button>                  
      </div>
    </div>
  </div>
</form>
