
.btn-register {
	background-color: #012a36ec;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;

}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #012a36c5;

}
