<app-navbar></app-navbar>

<div class="col-lg mb-5">
  <div class="row">
    <div class="col-lg-7 p-0">
      <div *ngIf="list_task.length>0; else sinTareas">
        <h3 class="ml-3 mt-4 mb-3">Tareas Pendientes</h3>

        <!--Tarjeta para tareas pendientes    <span class="ml-auto mr-2 text-muted">Fecha: 5/12/20</span>-->
        <div *ngFor="let t of list_task">
          <div class="task  mb-4" *ngIf="t.estado == 'Pendiente'">
            <div class="task-title col-lg">
              <div class="title row titulo-tarea">
                <div class="col-10">
                  <h6 class="ml-2 my-2 titulo" >{{t.titulo}}</h6>
                </div>
                <div class="col-2">
                  <!-- Default dropright button -->
                  <div class="row">
                    <div ngbDropdown class="nav-item mr-auto" ngbDropdown display="dynamic" placement="bottom-right"
                      class="btn-group">
                      <button type="button" class="btn text-white p-1" tabindex="0" ngbDropdownToggle
                        id="navbarDropdown3" role="button">
                        <i class="fas fa-ellipsis-v text-dark px-2"></i>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <a ngbDropdownItem class="dropdown-item" [routerLink]="['/edit_task', t._id]"><i
                            class="far fa-edit"></i>
                          Editar</a>
                        <a ngbDropdownItem class="dropdown-item" (click)="eliminar_tarea(t._id)"
                          (click)="$event.preventDefault()" href=""><i class="far fa-trash-alt"></i> Eliminar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>

              </div>
            </div>

            <div class="dropdown-divider"></div>
            <!--Descripcion-->
            <div class="task-description col-lg">
              <div class="row">
                <div class="col-9 p-0 description">
                  <p class="ml-4 descripcion">{{t.descripcion}}</p>
                </div>

                <div class="state col-3 text-center p-0">
                  <p>Estado: <i (click)="cambiar_estado_task(t)" class="far fa-circle ml-1"></i></p>
                </div>

              </div>
            </div>


          </div>

        </div>


        <h3 class="ml-3 mt-4 mb-3">Tareas Finalizadas</h3>

        <!--Tarjeta para tareas finalizadas-->
        <div *ngFor="let t of list_task">
          <div class="task  mb-4" *ngIf="t.estado == 'Finalizada'">
            <div class="task-title col-lg">
              <div class="title row titulo-tarea">
                <div class="col-10">
                  <h6 class="ml-2 my-2 titulo">{{t.titulo}}</h6>
                </div>
                <div class="col-2">
                  <!-- Default dropright button -->
                  <div class="row">
                    <div ngbDropdown class="nav-item mr-auto" ngbDropdown display="dynamic" placement="bottom-right"
                      class="btn-group">
                      <button type="button" class="btn text-white p-1" tabindex="0" ngbDropdownToggle
                        id="navbarDropdown3" role="button">
                        <i class="fas fa-ellipsis-v text-dark px-2"></i>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <a ngbDropdownItem class="dropdown-item" [routerLink]="['/edit_task', t._id]"><i
                            class="far fa-edit"></i>
                          Editar</a>
                        <a ngbDropdownItem class="dropdown-item" (click)="$event.preventDefault()" href=""><i
                            class="far fa-trash-alt"></i> Eliminar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>

              </div>
            </div>

            <div class="dropdown-divider"></div>
            <!--Descripcion-->
            <div class="task-description col-lg">
              <div class="row">
                <div class="col-9 p-0 description">
                  <p class="ml-4 descripcion">{{t.descripcion}}</p>
                </div>

                <div class="state col-3 text-center p-0">
                  <p>Estado: <i (click)="cambiar_estado_task(t)" class="fas fa-check-circle ml-1"
                      style="font-size: 1em;"></i></p>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>

      <ng-template #sinTareas>
        <div class="mt-5 pt-5 text-center">
          <h5 class="mt-5">Aún no tienes tareas, <a href="#" data-toggle="modal" data-target="#exampleModal">Agrega una</a></h5>
        </div>
      </ng-template>
    </div>

    <div class="col-lg-5 p-0 mt-5">
      <div class="col-lg">
        <app-reloj></app-reloj>
      </div>

    </div>
  </div>
</div>
