<div class="col-lg">
  <div class="row">
    <div class="col-lg-7 p-0">
      <div>
        <h2 class="ml-3 mt-4">Tareas Pendientes</h2>

        <!--Tarjeta para tareas pendientes    <span class="ml-auto mr-2 text-muted">Fecha: 5/12/20</span>-->
        <div *ngFor="let t of list_task">
          <div class="task  mb-4" *ngIf="t.estado == 'Pendiente'">
            <div class="task-title col-lg">
              <div class="title row titulo-tarea">
                <div class="col-10">
                  <a class="ml-2" href="">{{t.titulo}}</a>
                </div>
                <div class="col-2">
                  <!-- Default dropright button -->
                  <div class="row">
                    <div ngbDropdown class="nav-item mr-auto" ngbDropdown display="dynamic" placement="bottom-right"
                      class="btn-group">
                      <button type="button" class="btn text-white p-1" tabindex="0" ngbDropdownToggle
                        id="navbarDropdown3" role="button">
                        <i class="fas fa-ellipsis-v text-dark px-2"></i>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <a ngbDropdownItem class="dropdown-item" data-toggle="modal" (click)="pasarDatosTarea(t)"
                          data-target="#exampleModal" (click)="$event.preventDefault()"><i class="far fa-edit"></i>
                          Editar</a>
                        <a ngbDropdownItem class="dropdown-item" (click)="eliminar_tarea(t._id)" (click)="$event.preventDefault()" href=""><i
                            class="far fa-trash-alt"></i> Eliminar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>

              </div>
            </div>

            <div class="dropdown-divider"></div>
            <!--Descripcion-->
            <div class="task-description col-lg">
              <div class="row">
                <div class="col-9 p-0 description">
                  <p class="ml-4">{{t.descripcion}}</p>
                </div>

                <div class="state col-3 text-center p-0">
                  <p>Estado: <i (click)="cambiar_estado_task(t)" class="far fa-circle ml-1"></i></p>
                </div>

              </div>
            </div>


          </div>

        </div>


        <h2 class="ml-3 mt-4">Tareas Finalizadas</h2>

        <!--Targeta para tareas finalizadas-->
        <div *ngFor="let t of list_task">
          <div class="task  mb-4" *ngIf="t.estado == 'Finalizada'">
            <div class="task-title col-lg">
              <div class="title row titulo-tarea">
                <div class="col-10">
                  <a class="ml-2" href="">{{t.titulo}}</a>
                </div>
                <div class="col-2">
                  <!-- Default dropright button -->
                  <div class="row">
                    <div ngbDropdown class="nav-item mr-auto" ngbDropdown display="dynamic" placement="bottom-right"
                      class="btn-group">
                      <button type="button" class="btn text-white p-1" tabindex="0" ngbDropdownToggle
                        id="navbarDropdown3" role="button">
                        <i class="fas fa-ellipsis-v text-dark px-2"></i>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <a ngbDropdownItem class="dropdown-item" data-toggle="modal" (click)="pasarDatosTarea(t)"
                          data-target="#exampleModal" (click)="$event.preventDefault()"><i class="far fa-edit"></i>
                          Editar</a>
                        <a ngbDropdownItem class="dropdown-item" (click)="$event.preventDefault()" href=""><i
                            class="far fa-trash-alt"></i> Eliminar</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>

              </div>
            </div>

            <div class="dropdown-divider"></div>
            <!--Descripcion-->
            <div class="task-description col-lg">
              <div class="row">
                <div class="col-9 p-0 description">
                  <p class="ml-4">{{t.descripcion}}</p>
                </div>

                <div class="state col-3 text-center p-0">
                  <p>Estado: <i (click)="cambiar_estado_task(t)" class="fas fa-check-circle ml-1"
                      style="font-size: 1em;"></i></p>
                </div>

              </div>
            </div>
          </div>



        </div>

      </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Actualizar Tarea</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!--Formulario del Modal-->
            <form>
              
              <div class="form-group">
                <label for="txtTitulo">Nombre de la tarea</label>                
                <input [(ngModel)]="Task.titulo" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                  id="txtTitulo" [(ngModel)]="Task.titulo" placeholder="Ingrese el título de la tarea">
              </div>
              <div class="form-group">
                <label for="txtDescripcion">Descripcion:</label>
                <input [(ngModel)]="Task.descripcion" [ngModelOptions]="{standalone: true}" type="text"
                  class="form-control" id="txtDescripcion" placeholder="Ingrese la descripción de la tarea">
              </div>
              <div class="form-group">
                <label for="txtUsuario">Usuario:</label>
                <input [(ngModel)]="Task.idUsuario" [ngModelOptions]="{standalone: true}" type="text"
                  class="form-control" id="txtUsuario" placeholder="">
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5 p-0 mt-5">
      <div class="col-lg">
      <app-reloj></app-reloj>
    </div>
     
    </div>
  </div>
</div>
